#About {
    margin-top: 80px;
}

#topTitleAb {
    font-family: 'Lato', sans-serif;
    color: white;
    letter-spacing: .2px;
    font-size: 35px;
}

.sectionHeaderAb {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.rightLineAb {
    width: 5.5vw;
    margin: 9px 0px 0px 25px;
    color: rgb(69, 135, 242);
}

.leftLineAb {
    width: 40.5vw;
    margin: 9px 25px 0px 0px;
    color: rgb(69, 135, 242);
}

.aboutMe {
    display: flex;
    flex-direction: row;
    margin-bottom: 15vw;
    margin-top: 1.5vw;
}

#abDescription {
    flex: .75;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    line-height: 1.3;
}

#photos {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.photoRow {
    display: flex;
    margin: 0px;
    padding-right: 6vw;
}

.aboutPics {
    width: 12vw;
    height: 12vw;
    margin: 0% 5% 5% 0%;
}

#connect{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-right: 5vw;
}

#connectText {
    font-size: 7vw;
    font-family: 'Lato', sans-serif;
    color: white;
    align-self: center;
    margin: 0px;
    padding: 0px;
}

#finish {
    margin-top: 1vw;
    align-self: center;
    font-size: 18px;
}

.anchor {
    text-decoration: underline;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 2;
    color: rgb(69, 135, 242);
    
    font-size: 18px;
}

.anchor:hover {
    text-decoration: underline;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(
	to right,
	#f3b634 0,
    #f1bc6d 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#a37615 100%
	);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

#anchors {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: .5vw;
    margin-bottom: 18vw;
}

.spanny {
    font-size: 25px;
}