#LeftPanel {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 27%;
    background:rgba(20, 20, 22, 0.75);
    padding: 10px;
    margin: 1%;
    border-radius: 25px;
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

#profilePic {
    width: 14.2vw;
    height: 15vw;
    border-radius: 20%;
}

#name {
    color: white;
    font-size: 4vw;
    margin-bottom: 0px;
    text-shadow: -2px 2px 4px rgba(52, 183, 253, 0.982);
    font-family: 'Lato', sans-serif;
}

#occupation {
    color: rgb(69, 135, 242);
    font-size: 2vw;
    margin-bottom: 50px;
    margin-top: 4%;
    font-family: 'Lato', sans-serif;
}

#logo {
    width: 30px;
    height: 30px;
}

#pics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 7vw;
}

.shiftPicLeft {
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0.2);
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.shiftPicRight {
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0.2);
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.shiftPicLeft:hover {
    width: 60px;
    height: 60px;
    color: rgba(69, 135, 242, 0.8);
    font-weight: bold;
    margin: 0px;
    transition: color 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.shiftPicRight:hover {
    width: 60px;
    height: 60px;
    color: rgba(69, 135, 242, 0.8);
    font-weight: bold;
    margin: 0px;
    transition: color 0.5s ease-in-out, background-color 0.3s ease-in-out;
}
  
.animateImg.animateRight {
    animation: shake-right-animation 1s infinite;
}

@keyframes shake-right-animation {
    0% {
      transform: translateX(5px);
    }
    25% {
      transform: translateX(12px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(12px);
    }
    100% {
      transform: translateX(5px);
    }
}

.animateImg.animateLeft {
    animation: shake-left-animation 1s infinite;
}

@keyframes shake-left-animation {
    0% {
      transform: translateX(-5px);
    }
    25% {
      transform: translateX(-12px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(-12px);
    }
    100% {
      transform: translateX(-5px);
    }
}

.del {
  color: rgb(69, 135, 242);
  font-size: 2vw;
}

#traits {
  font-size: 1.2vw;
  margin: 0% 10% 0% 10%;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1;
}