#imgLogo {
    width: 40px;
    height: 40px;
}

#ProfileLinks {
    width: 4vw;
    height: 4vw;
}

#GHLink {
    width: 2.4vw;
    height: 2.4vw;
    background-color: white;
    overflow: hidden;
    border-radius: 7px;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.line {
    width: 28%;
}