#Projects {
    width: 100%;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 98%;
    padding: 5px 3px 5px 0px;
}
.projContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
    
    border-radius: 15px;
    width: 98%;
    margin: 0px 0px 15px 0px;
}

.projContent {
    display: flex;
    flex-direction: column;
    padding: 23px 21px 25px 25px;
}

.projPics {
    width: 250px;
    height: 170px;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 20px;
}

#dbfit {
    width: 130px;
    height: 185px;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 20px;
}

#portfolio {
    width: 250px;
    height: 150px;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 20px;
}

.projTitle {
    margin-bottom: 2px;
    font-size: 22px;
    margin-top: 2px;
    margin-left: 1%;
    font-family: 'Lato', sans-serif;
}

br {
    margin-bottom: 10px;
}

.projContainer:hover .projTitle {
    background: linear-gradient(
	to right,
	#f3b634 0,
    #f1bc6d 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#a37615 100%
	);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projContainer:hover {
    border: 3px solid transparent;
    margin: -3px -3px 12px -3px;
    background-color: rgba(69, 135, 242, 0.158);
}

.stuffused {
    margin: 0%;
    padding: 0px;
    margin-bottom: 15px;
    margin-left: 1%;
}

.projSkills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

#topTitleProj{
    font-family: 'Lato', sans-serif;
    color: white;
    letter-spacing: .2px;
    font-size: 35px;
}

.sectionHeaderProj {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.rightLineProj {
    width: 6vw;
    margin: 9px 0px 0px 25px;
    color: rgb(69, 135, 242);
}

.leftLineProj {
    width: 42vw;
    margin: 9px 25px 0px 0px;
    color: rgb(69, 135, 242);
}

p {
    color: white;
    font-size: 100%;
    font-family: 'Nunito Sans', sans-serif;
    
    padding-bottom: 5px;
}

.myP {
    text-indent: -20px;
    padding-left: 15px;
}