#resumeContainer {
    background: url("https://images6.alphacoders.com/519/519732.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    min-height: 100vh;
}

#resumeOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0% 5% 0%;
    background:rgba(20, 20, 22, 0.75);
}

#resumePic {
    width: 55vw;
    height: 125vh;
    border-radius: 0px;
    padding-top: 1.5%;
}

#downloads {
    display: flex;
    width: 100%;
    justify-content: center;
}

.download {
    width: 13vw;
    height: 3vw;
    text-decoration: underline;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 2;
    color: rgb(69, 135, 242);
    border: 0px solid transparent;
    background-color: transparent;
    font-size: 22px;
    margin-right: 1%;
}

.download:hover {
    text-decoration: underline;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(
	to right,
	#f3b634 0,
    #f1bc6d 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#a37615 100%
	);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    animation: slideGradient 2s infinite;
}