#RightPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    margin: 15px 15px 15px 0px;
    border-radius: 25px;
    flex: 1 1 auto;
    overflow-y: auto;
    margin-left: 30.5%;
    padding-left: 60px;
    background:rgba(20, 20, 22, 0.75);
    background-size:300% 100%;
    z-index: 5;
}

#wrapper {
  flex: 1 1 auto;
  position: fixed;
  z-index:10;
  background: inherit;
  margin-left: 30.5%;
}