#Skills {
    margin-top: 80px;
}

.skillType {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.projSkills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.icons {
   color: rgb(69, 135, 242);
   align-self: flex-start;
   margin-top: .8%;
}

.content {
    margin-left: 15px;
}

#topTitleSkills {
    font-family: 'Lato', sans-serif;
    color: white;
    letter-spacing: .2px;
    font-size: 35px;
}

.sectionHeaderSkills {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.rightLineSkills {
    width: 42vw;
    margin: 9px 0px 0px 25px;
    color: rgb(69, 135, 242);
}

.leftLineSkills {
    width: 5vw;
    margin: 9px 25px 0px 0px;
    color: rgb(69, 135, 242);
}

#CCP {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    margin-top: 4vw;
    background-color: rgba(69, 135, 242, 0.158);
    padding: 7px 0px 7px 0px;
    border-radius: 15px;
}

#CCP:hover {
    background-color: rgba(92, 148, 239, 0.046);
}

@keyframes slideGradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#CCP:hover #CCPText {
    background: linear-gradient(
	to right,
	#dea529 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#a37615 100%
	);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: slideGradient 2s; /* Apply the animation on hover */
}

@keyframes slideGradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#CCPBadge {
    width: 40px;
    height: 40px;
}

#CCPText {
    margin-bottom: 1px;
    font-size: 17px;
}