#Skills {
    margin-top: 100px;
}

.skillType {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.projSkills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.typePics {
    width: 30px;
    height: 30px;
}

.content {
    margin-left: 15px;
}

#topTitleSkills {
    font-family: 'Lato', sans-serif;
    color: white;
    letter-spacing: .2px;
    font-size: 35px;
}

.sectionHeaderSkills {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.rightLineSkills {
    width: 42vw;
    margin: 9px 0px 0px 25px;
    color: rgb(69, 135, 242);
}

.leftLineSkills {
    width: 5vw;
    margin: 9px 25px 0px 0px;
    color: rgb(69, 135, 242);
}